@import url(../popup/__container/popup__container.css);
@import url(../popup/__close-button/popup__close-button.css);

@import url(../popup/__title/popup__title.css);
@import url(../popup/__fields/popup__fileds.css);
@import url(../popup/__field/popup__field.css);
@import url(../popup/__submit-button/popup__submit-button.css);

.popup {
   display: none;

   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   z-index: 10;

   width: 100vw;
   height: 100vh;

   background-color: rgba(0,0,0,.5);
}
