.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  outline: none;
  background-color: transparent;
  background-image: url(../../../images//icons/edit-icon.svg);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;

  align-self: baseline;
}


.profile__edit-button:hover {
  opacity:.7;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 15px;
    height: 15px;
    background-size: 8px 8px;
    justify-content: center;
  }
}
