@import url(../header/__logo/header__logo.css);

.header {
  display: grid;
}

.header:after {
  content:'';
  height: 2px;
  background-color: rgba(84,84,84,.7);
  margin-top: 41px;
}

@media screen and (max-width: 1023px){
  .header {
    max-width: calc(100% - 20px * 2);
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 100%;
  }

  .header:after {
    margin-top: 30px;
  }
}
